<div style="border:solid;">
  <div style="margin-right: 10px; ">
    <img class="logo" [src]="customerDetails?.imageURL"> <!-- <img src="assets/"-->
  </div>
  <p><label>Firstname: </label>{{customerDetails?.firstname}}</p>
  <p><label>Lastname: </label>{{customerDetails?.lastname}}</p>
  <p><label>Last Order Date: </label>{{customerDetails?.lastOrderDate}}</p>
  <p><label>Last Order Date Piped: </label>{{customerDetails?.lastOrderDate| date:'dd.MM.yyyy'}}</p>
  <p><label>Last Order Date Piped: </label>{{customerDetails?.lastOrderDate| date:'dd.MM.yyyy HH:mm:SS'}}</p>
  <p><label>Last Order Date Piped: </label>{{customerDetails?.lastOrderDate| date:'short'}}</p>
  <div [class.active]="customerDetails?.lastOrderDate | dateCheck:3">
    Last Order Date CUSTOM Piped: {{ customerDetails?.lastOrderDate | date:'dd.MM.yyyy'}}
  </div>
</div>
